.taskContainer,
.taskContainerConcluded {
  width: 46.125rem;
  min-height: 2rem;

  display: flex;
  align-items: flex-start;

  border-radius: 8px;
  background-color: var(--gray-500);

  border: 1px solid var(--gray-400);

  padding: 1rem;
}

.taskContainerConcluded {
  border: none;
}

.taskContainer:not(:first-child),
.taskContainerConcluded:not(:first-child) {
  margin-top: 12px;
}

.taskStatus,
.taskStatusConcluded {
  color: var(--blue);
  margin-right: 1rem;
  cursor: pointer;
}

.taskStatusConcluded {
  color: var(--purple-dark);
}

.taskInformation,
.taskInformationConcluded {
  line-height: 1.4;
  width: 39.5rem;
  color: var(--gray-100);
  cursor: pointer;
}

.taskInformationConcluded {
  color: var(--gray-300);
  text-decoration: line-through;
}

.deleteTaskButton {
  color: var(--gray-300);
  background: transparent;
  border: 0;
  transition: 0.2s;
  cursor: pointer;
}

.deleteTaskButton:hover {
  animation: tremer 0.25s;
  animation-iteration-count: 2;
  color: var(--danger);
}

@keyframes tremer {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(10deg)
  }

  50% {
    transform: rotate(0deg)
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg)
  }
}

@media (max-width: 1020px) {

  .taskContainer,
  .taskContainerConcluded {
    width: 19.125rem;
  }
}